
.main{
    text-align: center;
    width: 80%;
    margin: 10 auto;
}

h1{
    padding: 10 0 10 0;
    font-size: 150%;
}

.githubgroup{
    background-color: #c2e6b8;
        
}

.localgroup{
    background-color: #b5b5f2;
}
.save{
    margin: 20px 40px;
}

.savetime{
    width: 50%;
    margin: 10px auto;
}
/*
#url{
    margin:10px
}
*/
label{
    display: inline;
    margin:5px;
}
.form-control{
    width:50%;
    margin: 10px auto;
}

.flexbox{
    background-color: #c2e;
    display: flex;
    margin: 0 40px;
}
.xpath{
   width: 50%; 
}
.url{
    width: 50%;
}

html,css{
    width: 600px
}